NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_DEFAULT_REGION=Nabeul
MONGODB_URI=
MONGODB_DB=
MONGODB_PLACES_COLLECTION=places
MONGODB_REVIEWS_COLLECTION=reviews
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
MONGODB_USERS_COLLECTION=users
MONGODB_SESSIONS_COLLECTION=sessions
MONGODB_PLACE_REQUESTS_COLLECTION=placeRequests
ADMIN_EMAIL=
IMGBB_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
MAILER_HOST=
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM=
MAILER_SOFT_FAILURE=true
